<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <base href="/">
        <link rel="stylesheet" href="base-styles.css">
        <link rel="stylesheet" href="clientInfo.css">
        <link rel="stylesheet" href="nav-styles.css">
        <link rel="stylesheet" href="footer-style.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	
    <script src="completedSession.js" type="text/javascript"></script>
    </head>
<body>
    <div class="wrapper">
        <%- include('../partials/nav.ejs') %>
        <div class="content">
        <div id="left">
            <div class="sub_content">
                <div class="list-header">
                    <% if (locals.info) { %>
                        <% info.forEach(function(str){ %>
                            <p><strong><%=JSON.parse(JSON.stringify(str)).firstname%> <%=JSON.parse(JSON.stringify(str)).lastname%></strong></p>
                        </div>
                        <div>
                            <ul class ="trainer_homepage_list">
                            <li class = "list_item">Email: <%=JSON.parse(JSON.stringify(str)).email%></li>
                            <li class = "list_item">Weight: <%=JSON.parse(JSON.stringify(str)).weight%>kg</li>
                            <li class = "list_item">Height: <%=JSON.parse(JSON.stringify(str)).height%>cm</li>
                            <li class = "list_item">Gender: <%=JSON.parse(JSON.stringify(str)).gender%></li>
                            </ul>
                        </div>
                        <% }) %>
                    <% } %>
                </div>
            </div>
        <div id="middle">
            <div class = "sub_content">
                <div class = "list-header">
                    <p><strong>Assign workout</strong></p>
                    <form class="client-info" id ="assign-workout-form" `action = client/: + <%=info[0].firstname%>` action method="POST">
                            <select name="workout">
                                <% if (locals.trainer_workouts) { %>
                                    <% trainer_workouts.forEach(function(str){ %>
                                        <option value = <%=JSON.parse(JSON.stringify(str)).id%>><%=JSON.parse(JSON.stringify(str)).name%></option> 
                                    <% }) %>
                                <% } %>
                            </select>
                        <input name="user_id" type = "hidden" value = <%=info[0].id%>>
                        <input type = "submit" value="submit" onclick="return confirm('Are you sure you want to assign the workout?')">
                    </form>
                
                <h3>Assigned workouts</h3>
                <div>
                    <% if (locals.client_workouts) { %>
                        <ul class = "trainer_homepage_list">
                        <% client_workouts.forEach(function(str){ %>
                            <li class= "list_item"><%=JSON.parse(JSON.stringify(str)).name%></li> 
                        <% }) %>
                    <% } %>
                </ul>
                </div>
                </div>
            </div>
        </div>
        <div style="display:none" class="right" id="workout_session_popup">
            <div id="sub_content_completed_sessions" class="sub_content">
          </div>
        </div>
            <div id ="right" class = "right">
                <div class="sub_content">
                    <div class="info-list">
                        <div class="list-header">
                            <p><strong>Completed workout sessions</strong></p>
                        </div>
                        <input class="normal" type="text" id="filter_input" onkeyup="filter_session_list()" placeholder="Filter results">
                        <ul id="completed_session_ul_list" class = "trainer_homepage_list">
                            <% if (locals.completed_sessions) { %>
                                <% completed_sessions.forEach(function(str){ %>     
                                    <li onclick="showCompletedSessionInfo('<%=JSON.parse(JSON.stringify(str)).id%>')" id="completed_workout_session<%=JSON.parse(JSON.stringify(str)).id%>" class="list_item">
                                        <div class=""><a><%=JSON.parse(JSON.stringify(str)).session_time.substr(0,10)%><%=JSON.parse(JSON.stringify(str)).name%></a></div>
                                    </li>
                                <% }) %>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>