<!DOCTYPE html>
<html>
    <%- include('../partials/head.ejs') %>
<body>
    <div class="wrapper">
    <%- include('../partials/nav.ejs') %>
    <div class="content">
    <div style="width: 100%;">
        <div id="left" style="float: left; width: 50%; text-align: center;">
            <div class="workout-form" style="height: 200px; margin: 20px; overflow: auto;">
                <h2>Create Workout</h2>
                <form id ="workout-form" action="createworkout" action method="POST">
                    <div id="workout-container">

                        <input type="text" name="workoutname" placeholder="Workout name" required/><br>
        
                        <label>Level</label><br>
                        <select name="level">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <br>     
                        <p>
                        <input type = "submit" value="submit" onclick="return confirm('Are you sure you want to create the workout?')">
                        </p>
                        <a href="/home" class="btn btn-primary">Back</a>
                    </div>    
                </form>
            </div>
            <div class="workout-form" ondrop="drop(event)" ondragover="allowDrop(event)" style="height: 353px; margin-left: 20px; overflow: auto;">

            </div>
        </div>
        <div id="right" style="float: left; width: 50%; text-align: center;">
            <h2>Exercises</h2>
            <div class="workout-form">
                <% if (locals.exercise) { %>
                    <% exercise.forEach(function(str) { %>
                        <% let category=JSON.parse(JSON.stringify(str)).target_muscle %>
                        <% let name=JSON.parse(JSON.stringify(str)).name %>
                        <% let instr=JSON.parse(JSON.stringify(str)).description %>
                        <% let level=JSON.parse(JSON.stringify(str)).level %>
                        <% let id = JSON.parse(JSON.stringify(str)).id %>
                                        <div id="<%=id%>" class="card" draggable="true" ondragstart="drag(event)">
                                            <div class="container">
                                                <h3>
                                                    <%= category %>
                                                </h3>
                                                <% if (category==="Stretch" ) { %>
                                                    <img src="/stretch.png">
            
                                                <% } else if (category==="Cardio" ) { %>
                                                    <img src="/cardio.png">
            
                                                <% } else { %>
                                                    <img src="/dumbell.png">
                                                <% } %>
                                                    <br>
                                                    <%= name %>
            
            
                                            </div>
                                        </div>
                                        <% }) %>
                                            <% } %>
            </div>
        </div>

        <div class="input-form" id="specifics" style="display: none;">
            <input type="hidden" id="ex-id">
            <input type="range" id="ex-sets" placeholder="Enter amount of sets" min="1" max="30" name="sets" required>
        
            <br>
            <input type="range" id="ex-reps" placeholder="Enter amount of reps" min="1" max="30" required>
            <br>
            <input type="range" id="ex-weight" placeholder="Enter weight" min="1" max="100" required>
            <br>
        
            <button type="submit" class="btn" onclick="closeForm()">Accept</button>
        </div>
        
    
    </div>
        <script>

            let exerciselist = [];

            function allowDrop(ev) {
                ev.preventDefault();
            }

            function drag(ev) {
                ev.dataTransfer.setData("text", ev.target.id);
            }

            function drop(ev) {
                ev.preventDefault();
                var data = ev.dataTransfer.getData('Text');
                ev.target.appendChild(document.getElementById(data).cloneNode(true));
                openForm(data);
            }

            function openForm(id) {
                let element = document.getElementById("specifics");
                element.style.display = 'block';
                document.getElementById('ex-id').value = id;
            }

            function closeForm() {
                document.getElementById('specifics').style.display = "none";
                
                let exercise = {
                    id: document.getElementById('ex-id').value,
                    sets: document.getElementById('ex-sets').value,
                    reps: document.getElementById('ex-reps').value,
                    weight: document.getElementById('ex-weight').value
                }
                 exerciselist.push(exercise);
                 console.log(exerciselist);
                
            }

            

            function chooseExercise(id){
                
                let element = document.getElementById(id);
                let container = element.firstElementChild;
                
                if(exerciselist.includes(id)){
                    element.style.border = "none";
                    exerciselist.splice(exerciselist.indexOf(id), 1);
                    container.removeChild(container.lastChild);
                }
                else {
                    element.style.border = "1px solid #e5ff00";
                    exerciselist.push(id);

                    let newdiv = document.createElement('div');
                        newdiv.className = 'input-div';
                    let set_input = document.createElement('input');
                        set_input.type = 'range';
                        set_input.min = '1';
                        set_input.max = '10';
                        set_input.defaultValue = '3';
                    let reps_input = document.createElement('input');
                        reps_input.type = 'range';
                        reps_input.min = '1';
                        reps_input.max = '30';
                        reps_input.defaultValue = '12';
                    let weight_input = document.createElement('input');
                        weight_input.type = 'range';
                        weight_input.min = '1';
                        weight_input.max = '225';
                    newdiv.appendChild(set_input);
                    newdiv.appendChild(reps_input);
                    newdiv.appendChild(weight_input);
                    container.appendChild(newdiv);
                }    

            }
        
        
    
        </script>
    

        </div>
        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>