<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <base href="/">
    <link rel="stylesheet" href="base-styles.css">
    <link rel="stylesheet" href="createWorkout.css">
    <link rel="stylesheet" href="nav-styles.css">
    <link rel="stylesheet" href="footer-style.css">
</head>
<body onload="setup_listeners()">
    <div class="wrapper">
    <%- include('../partials/nav.ejs') %>
        <div class="content">
            <div id="left">
                <div class="workout-form">

                    <% if (locals.create_title) { %>
                        <h2>CREATE WORKOUT</h2>
                        <% } %>

                    <% if (locals.edit_title) { %>
                        <h2>EDIT WORKOUT</h2>
                        <% } %>

                    <form id ="workout-form" action="createworkout" action method="POST">
                        <div id="workout-container">
                            <input type="text" name="workoutname" placeholder="Workout name" required/>
                            <label>Level</label>
                            <select name="level">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>

                            <% if (locals.create_title) { %>
                                <input id = "submit" type = "submit" value="Create" onclick="confirmAction(event);">
                            <% } %>

                            <% if (locals.edit_title) { %>
                                <input id = "submit" type = "submit" value="Edit" onclick="confirmAction(event);">
                            <% } %>
                           
                            
                        </div>    
                    </form>
                    <div ondrop="drop(event)" ondragover="allowDrop(event)">
                       <ul id="workout_exercises" class="workout_exercise_list">  
                        </ul>
                    </div>
                </div>
            </div>
            <div id="right">
                <div class="workout-form" >
                    <h2>Exercises</h2>
                    <input class="normal" type="text" id="filter_input" onkeyup="filter_list()" placeholder="Filter results">
                    <ul id="the_list" class="workout_exercise_list">
                        <% if (locals.exercise) { %>
                            <% exercise.forEach(function(str) { %>
                                <% let category=JSON.parse(JSON.stringify(str)).target_muscle %>
                                <% let name=JSON.parse(JSON.stringify(str)).name %>
                                <% let instr=JSON.parse(JSON.stringify(str)).description %>
                                <% let level=JSON.parse(JSON.stringify(str)).level %>
                                <% let id = JSON.parse(JSON.stringify(str)).id %>
                                <li id="list_exercixe_<%=id%>"><div class="exercise tooltip normal_text"><a><%= name %>  <%= category %><span id="tooltips" class="tooltiptext">Instructions:<br><%= instr %></span></a></div></li>
                            <% }) %>
                        <% } %>
                    </ul>
                </div>
            </div>
        
  
        </div>
        <%- include('../partials/footer.ejs') %>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
          $( "#workout_exercises" ).sortable({
              axis: "y"
          });
          $( "#workout_exercises" ).disableSelection();
        } );
        </script>
    <script>

        let exerciselist = [];
    
           
        function filter_list() {
           var filter_input = document.getElementById('filter_input').value;
            var filter = filter_input.toUpperCase();
            var the_list = document.getElementById('the_list');
            var list_items = the_list.getElementsByTagName('li');
            
            for (i = 0; i < list_items.length; i++) {
                a = list_items[i].getElementsByTagName("a")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    list_items[i].style.display = "";
                } else {
                    list_items[i].style.display = "none";
                }
            }
        }

        var exercise_obj_id = 1;

        function add_excersice_to_workout(evt) {

            var id = evt.currentTarget.id;
            let new_exercise = document.getElementById(id).cloneNode(false)
            
            let tmp_text = document.getElementById(id)
            
            //Removing tooltip before adding to workout
            let remove_index = tmp_text.textContent.indexOf('Instructions');
            let exercise_name = tmp_text.textContent.slice(0, remove_index);
           
            new_exercise.id = "workoutexercise_" + exercise_obj_id++ + "_"+id.replace('list_exercixe_','');
            new_exercise.innerHTML = generate_workout_exercise_li(new_exercise.id, exercise_name);

            document.getElementById('workout_exercises').appendChild(new_exercise);
            document.getElementById(new_exercise.id+"_delete").addEventListener("click", delete_workout_exercice, false);
        }
        
        function setup_listeners() {
            var list_exercises = document.getElementById("the_list").getElementsByTagName("li");
            for(var i = 0;i < list_exercises.length;i++) {
                list_exercises[i].addEventListener("click", add_excersice_to_workout, false); 
            }

        }

        function delete_workout_exercice(evt) {
            document.getElementById(evt.currentTarget.id.replace("_delete", "")).remove();
        }

        function createWorkout() {
           
            var workout_object;
            var workout_exercises = document.getElementById("workout_exercises").getElementsByTagName("li");
            var wo_ex = [];
            for(var i = 0;i < workout_exercises.length;i++) {
                //var exercise_row_obj_id = workout_exercises[i].id.split("_")[1]
                var exercise_id = workout_exercises[i].id.split("_")[2];
                var exercise_load = document.getElementById(workout_exercises[i].id + "_load").value;
                var exercise_reps = document.getElementById(workout_exercises[i].id + "_reps").value;
                
                wo_ex[i] = new Array(3);
                wo_ex[i] = [exercise_id, exercise_load, exercise_reps];
            }
            post_workout(wo_ex); // Calls the function which handles the post.
        }

        //Should be replaced with an actual DOM-create implementation
        function generate_workout_exercise_li(exercice_id, exercise_name) {

            if( exercise_name.includes("Cardio") || exercise_name.includes("Stretch")){
                generated_html =  "<div class=\"exercise\"><div class=\"exercise_name normal_text\">"+exercise_name+"</div>";
                generated_html += "<div class=\"small_input_header\"></div>";
                generated_html += "<div class=\"input_container\"><input type=\"hidden\" min=\"0\" id=\""+exercice_id+"_load\" class=\"small_input\" value=\"0\"></div>";
                generated_html += "<div class=\"small_input_header\">Minutes</div>";
                generated_html += "<div class=\"input_container\"><input type=\"number\" min=\"0\" id=\""+exercice_id+"_reps\" class=\"small_input\" value=\"0\"></div>";
                generated_html += "<div class=\"icon_container\"><img src=\"icon_trash.png\" class=\"icon\" id=\"" + exercice_id + "_delete\" ></div></div>";
            }
            else {
                generated_html =  "<div class=\"exercise\"><div class=\"exercise_name normal_text\">"+exercise_name+"</div>";
                generated_html += "<div class=\"small_input_header\">load</div>";
                generated_html += "<div class=\"input_container\"><input type=\"number\" min=\"0\" id=\""+exercice_id+"_load\" class=\"small_input\" value=\"0\"></div>";
                generated_html += "<div class=\"small_input_header\">reps</div>";
                generated_html += "<div class=\"input_container\"><input type=\"number\" min=\"0\" id=\""+exercice_id+"_reps\" class=\"small_input\" value=\"0\"></div>";
                generated_html += "<div class=\"icon_container\"><img src=\"icon_trash.png\" class=\"icon\" id=\"" + exercice_id + "_delete\" ></div></div>";
            }

            
            return generated_html;
        }

        //Adds hidden fields to the form, the form is then submitted to server when submitted. 
        function post_workout(wo_ex){
            var container = document.getElementById('workout-container');

            for(let i = 0; i < wo_ex.length; i++){

            var exercise_id = document.createElement("input");
            var exercise_load = document.createElement("input");
            var exercise_reps = document.createElement("input");
            var exercise_order = document.createElement("input");

            exercise_id.type = "hidden";
            exercise_load.type = "hidden";
            exercise_reps.type = "hidden";
            exercise_order.type = "hidden";

            exercise_id.setAttribute('name', `exercise[${i}][id]`)
            exercise_load.setAttribute('name', `exercise[${i}][load]`)
            exercise_reps.setAttribute('name', `exercise[${i}][reps]`)
            exercise_order.setAttribute('name', `exercise[${i}][order]`)

            exercise_id.value = wo_ex[i][0]
            exercise_load.value = wo_ex[i][1]
            exercise_reps.value = wo_ex[i][2]
            exercise_order.value = i+1;

            container.appendChild(exercise_id);
            container.appendChild(exercise_load);
            container.appendChild(exercise_reps);
            container.appendChild(exercise_order);
            }
        }

        //Alert box, workout gets posted to server when user accepts
        function confirmAction(e)
        {
            var confirmation = confirm("Are you sure you want to create this workout?");
        
            if (!confirmation)
            {
                e.preventDefault() ;
                returnToPreviousPage();
            }

            createWorkout();
            return confirmation;
        }

        // This function checks if the server has sent a workout object
        // If the object exists, we can then edit the workout.
        document.addEventListener('DOMContentLoaded', function(){
            parseWorkout();
        })

        function parseWorkout(){
            if ('<%=locals.workout%>') {

               var test = '<%-JSON.stringify(locals.workout)%>'

               var parsed_workout = {
                   workout: JSON.parse(test)
               }

               console.log(parsed_workout)

               document.getElementsByName('workoutname')[0].value = parsed_workout.workout[0].workout_name;
               document.getElementsByName('level')[0].value = parsed_workout.workout[0].workout_level;

               for(var i = 0; i < parsed_workout.workout.length; i++){

                var new_exercise = document.createElement('li');
                
                new_exercise.id = "workoutexercise_" + exercise_obj_id++ + "_" + parsed_workout.workout[i].exercise_id;
                new_exercise.innerHTML = generate_workout_exercise_li(new_exercise.id, parsed_workout.workout[i].exercise_name + " " + parsed_workout.workout[i].exercise_muscle );

                var new_exercise_load = new_exercise.id+"_load"
                var new_exercise_reps = new_exercise.id+"_reps"

                console.log(new_exercise_load)

                document.getElementById('workout_exercises').appendChild(new_exercise);
                document.getElementById(new_exercise.id+"_delete").addEventListener("click", delete_workout_exercice, false);

                document.getElementById(new_exercise_load).value = parseInt(parsed_workout.workout[i].e_load)
                document.getElementById(new_exercise_reps).value = parseInt(parsed_workout.workout[i].e_reps)

               }

                var container = document.getElementById('workout-container');
                var workout_user = document.createElement('input');
                workout_user.type = "hidden";
                workout_user.setAttribute('name', 'user_id')
                workout_user.value = parsed_workout.workout[0].workout_user_id;
                container.appendChild(workout_user);

        }
    }



        

                    
                
                

       

    </script>
</body>
</html>