<!DOCTYPE html>
<html>
    <%- include('../partials/head.ejs') %>
<body>
    <div class="wrapper">
    <%- include('../partials/nav.ejs') %>
    <div class="content">
    <div style="width: 100%;">
        <div id="left" style="float: left; width: 50%; text-align: center;">
            <div class="workout-form" style="height: 200px; margin: 20px; overflow: auto;">
                <h2>Create Workout</h2>
                <form id ="workout-form" action="createworkout" action method="POST">
                    <div id="workout-container">

                        <input type="text" name="workoutname" placeholder="Workout name" required/><br>
        
                        <label>Level</label><br>
                        <select name="level">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <br>     
                        <p>
                        <input type = "submit" value="submit" onclick="return confirm('Are you sure you want to create the workout?')">
                        </p>
                        <a href="/home" class="btn btn-primary">Back</a>
                    </div>    
                </form>
            </div>
            <div class="workout-form" style="height: 353px; margin-left: 20px; overflow: auto;">
                <ul id="workout-list">

                </ul>
            </div>
        </div>
        <div id="right" style="float: left; width: 50%; text-align: center;">
            <h2>Exercises</h2>
            <div class="workout-form">
                <ul>
                <% if (locals.exercise) { %>
                    <% exercise.forEach(function(str) { %>
                        <% let category=JSON.parse(JSON.stringify(str)).target_muscle %>
                        <% let name=JSON.parse(JSON.stringify(str)).name %>
                        <% let instr=JSON.parse(JSON.stringify(str)).description %>
                        <% let level=JSON.parse(JSON.stringify(str)).level %>
                        <% let id = JSON.parse(JSON.stringify(str)).id %>
                            <li id="<%=id%>" onclick="add2Workout(this.id)">
                                <%= name %> <%= category %>
                            </li>
                            
                    <% }) %>
                <% } %>
                </ul>                            
            </div>
        </div>
        
    
    </div>
        <script>

            let exerciselist = [];

            function add2Workout(id) {
                let new_ex = document.getElementById(id).cloneNode(true);
                new_ex.onclick = removefromWorkout(new_ex);
                let list = document.getElementById('workout-list');
                list.appendChild(new_ex);
            }

            function removefromWorkout(id) {

            }



            function allowDrop(ev) {
                ev.preventDefault();
            }

            function drag(ev) {
                ev.dataTransfer.setData("text", ev.target.id);
            }

            function drop(ev) {
                ev.preventDefault();
                var data = ev.dataTransfer.getData('Text');
                //let newlist = document.createElement('ol');
                ev.target.appendChild(document.getElementById(data).cloneNode(true));
                
                openForm(data);
            }

            function openForm(id) {
                let element = document.getElementById("specifics");
                element.style.display = 'block';
                document.getElementById('ex-id').value = id;
            }

            function closeForm() {
                document.getElementById('specifics').style.display = "none";
                
                let exercise = {
                    id: document.getElementById('ex-id').value,
                    sets: document.getElementById('ex-sets').value,
                    reps: document.getElementById('ex-reps').value,
                    weight: document.getElementById('ex-weight').value
                }
                 exerciselist.push(exercise);
                 console.log(exerciselist);   
            }

            
        
        
    
        </script>
    

        </div>
        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>