<!DOCTYPE html>
<html>
    <%- include('../partials/head.ejs') %>
<body>
    <div class="wrapper">
        <%- include('../partials/nav.ejs') %>
        <section class="trainer-home-container">
            <div class="client-list">
                <div class="list-header">
                    <p><strong>Client list</strong></p>
                </div>
                <ul>
                    <% if (locals.clients) { %>
                        <% clients.forEach(function(str){ %>
                        <li onclick="location.href = '/client/<%=JSON.parse(JSON.stringify(str)).id%>'">
                            <strong>
                                <%=JSON.parse(JSON.stringify(str)).firstname%> <%=JSON.parse(JSON.stringify(str)).lastname %> <%= JSON.parse(JSON.stringify(str)).email%>
                            </strong>
                        </li>
                        <% }) %>
                    <% } %>
                </ul>
            </div>
            <div class="separator"></div>
            <div class="info-list">
                <div class="list-header">
                    <p><strong>Pending approval</strong></p>
                </div>
                <ul>
                    
                </ul>
            </div>
        </section>
        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>