<!DOCTYPE html>
<html>
    <%- include('../partials/head.ejs') %>
<body>
    <div class="wrapper">
        <%- include('../partials/nav.ejs') %>
        <div class="trainer-home-container">
            <div class="client-list">
                <div class="list-header">
                    <p><strong>Client list</strong></p>
                </div>
                <ul>
                    <% if (locals.clients) { %>
                        <% clients.forEach(function(str){ %>
                        <li onclick="location.href = '/client/<%=JSON.parse(JSON.stringify(str)).id%>'">
                            <strong>
                                <%=JSON.parse(JSON.stringify(str)).firstname%> <%=JSON.parse(JSON.stringify(str)).lastname %> <%= JSON.parse(JSON.stringify(str)).email%>
                            </strong>
                        </li>
                        <% }) %>
                    <% } %>
                </ul>
            </div>
            <div class="separator"></div>
            <div class="approve-list">
                <div class="list-header">
                    <p><strong>Pending approval</strong></p>
                </div>
                <ul>
                    <% if (locals.pending) { %>
                        <% pending.forEach(function(str) { %>
                            <li>
                                <div class="approve-entry">
                                    <div class="text-box">
                                        <div class="name-field">Name: <%= JSON.parse(JSON.stringify(str)).firstname %> <%= JSON.parse(JSON.stringify(str)).lastname %> </div>
                                        <div class="mail-field">Email: <%= JSON.parse(JSON.stringify(str)).email %></div>                            
                                    </div>
                                    <div class="approve-btn">Approve</div>
                                    <div class="delete-btn">Delete</div>
                                </div>
                            </li>
                        <% }) %>
                    <% } %>
                </ul>
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>