<!DOCTYPE html>
<html>
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>

<h1> <%=firstName%> you are a trainer, rejoice</h1>

<div>
    <p class = friend-list>Client list</p>
    <ul class = "friend-list">
        
        <% if (locals.clients) { %>
            <% clients.forEach(function(str){ %>
               <li onclick="location.href = '/client/<%=JSON.parse(JSON.stringify(str)).id%>'">
                   <%=JSON.parse(JSON.stringify(str)).firstname%> <%=JSON.parse(JSON.stringify(str)).lastname %> <%= JSON.parse(JSON.stringify(str)).email%></li>
            <% }) %>
        <% } %>
    </ul>
</div>



<%- include('../partials/footer.ejs') %>
</body>
</html>