<html>
  <head>
    <meta charset="utf-8" />
    <base href="/">
    <link rel="stylesheet" href="base-styles.css">
    <link rel="stylesheet" href="clientHome.css">
    <link rel="stylesheet" href="nav-styles.css">
    <link rel="stylesheet" href="footer-style.css">
  </head>
  <link rel="stylesheet" href="calendar-styles.css" />
  <body>
      <div class="wrapper">
      <%- include('../partials/nav.ejs') %>
        <div class="client-list">
            <div class="list-header">
              <h2>Calendar</h2>
            </div>
            <div class="content">
                <div class="calendar">
                  <div class="month">
                  <i class="fas fa-angel-left prev"><</i>
                <div class="date">
                  <h2></h2>
                  <p></p>
                </div>
                <i class="fas fa-angel-right next">></i>
              </div>
              <div class="weekdays">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
              </div>
              <div class="days"></div>
            </div>
            <p class="work-out">My workouts</p>
            <ul class="list-work" id="sessions-list">
              <% if (locals.workout_session_list) { %> <%
              workout_session_list.forEach(function(str){ %>
              <li>
                <span id="dateMonth"
                  ><%=JSON.parse(JSON.stringify(str)).session_time.slice(5,
                  10)%></span
                >
              </li>
              <li>
                <span id="dateTime"
                  ><%=" AT: " +
                  JSON.parse(JSON.stringify(str)).session_time.slice(11, 13)+
                  ":" + JSON.parse(JSON.stringify(str)).session_time.slice(14,
                  16)%></span
                >
              </li>
              <br />
              <% }) %> <% } %>
            </ul>
          </div>
          <script>
            const date = new Date();

            const workout_sessions = document
              .getElementById("sessions-list")
              .getElementsByTagName("SPAN");

            const renderCalendar = () => {
              date.setDate(1);
              const monthDays = document.querySelector(".days");
              const lastDay = new Date(
                date.getFullYear(),
                date.getMonth() + 1,
                0
              ).getDate();
              const prevLastDay = new Date(
                date.getFullYear(),
                date.getMonth(),
                0
              ).getDate();
              const firstDayIndex = date.getDay();
              const lastDayIndex = new Date(
                date.getFullYear(),
                date.getMonth() + 1,
                0
              ).getDay();
              const nextDays = 7 - lastDayIndex - 1;
              const months = [
                "January",
                "February",
                "March",
                "April",
                "May",
                "June",
                "July",
                "August",
                "September",
                "October",
                "November",
                "December",
              ];
              document.querySelector(".date h2").innerHTML =
                months[date.getMonth()];
              document.querySelector(".date p").innerHTML =
                new Date().toDateString();
              let days = "";

              for (let x = firstDayIndex; x > 0; x--) {
                days += `<div class="prev-date">${prevLastDay - x + 1}</div>`;
              }
              for (let i = 1; i <= lastDay; i++) {
                for (
                  let z = 0, y = 0;
                  z, y < workout_sessions.length;
                  y++, z++
                ) {
                  if (
                    date.getMonth() === new Date().getMonth() &&
                    i === parseInt(workout_sessions[z].innerHTML.slice(3)) &&
                    date.getMonth() + 1 ===
                      parseInt(workout_sessions[y].innerHTML.slice(0, 3))
                  ) {
                    //printing sessions in calendar
                    days += `<div class="workout-session">${i}</div>`;
                    i++;
                    break;
                  }
                }
                //printing current day
                if (
                  i === new Date().getDate() &&
                  date.getMonth() === new Date().getMonth()
                ) {
                  days += `<div class="today">${i}</div>`;
                }
                // printing days of the month except (workout-sessions)
                else days += `<div>${i}</div>`;
              }

              for (let j = 1; j <= nextDays; j++) {
                days += `<div class="next-date">${j}</div>`;
                monthDays.innerHTML = days;
              }

              // clikcable days showing workouts in overlay no need to routing!
              const session = document.querySelectorAll(".workout-session");
              for (let w = 0; w < session.length; w++) {
                let workout_session = false;
                session[w].addEventListener("click", () => {
                  if (!workout_session) {
                    session[w].classList.add("overlay");
                    workout_session = true;
                  } else {
                    document
                      .querySelector(".overlay")
                      .classList.remove("overlay");
                    workout_session = false;
                  }
                });
              }
            };
            document.querySelector(".prev").addEventListener("click", () => {
              date.setMonth(date.getMonth() - 1);
              renderCalendar();
            });
            document.querySelector(".next").addEventListener("click", () => {
              date.setMonth(date.getMonth() + 1);
              renderCalendar();
            });
            renderCalendar();
          </script>
        </div>
        <div class="info-list">
          <div class="list-header">
            <p><strong>Friends</strong></p>
          </div>
          <div class="social-box">
            <ul class="list">
              <% if (locals.friends) { %>
                        <% friends.forEach(function(str){ %>
                        <li onclick="location.href = '/friendPage/<%=JSON.parse(JSON.stringify(str)).id%>'">
                            <strong>
                                <%=JSON.parse(JSON.stringify(str)).firstname%>
                                <%=JSON.parse(JSON.stringify(str)).lastname%>
                                <%=JSON.parse(JSON.stringify(str)).email%>
                            </strong>
                        </li>
                        <% }) %>
                    <% } %>
            </ul>
          </div>
        </div>
        <div class="info-list">
          <div class="list-header">
            <p><strong>Upcoming workouts</strong></p>
          </div>
          <ul class="list">
            <% if (locals.upcoming) { %> <% upcoming.forEach(function(str){ %>
            <li
              onclick="location.href = '/workoutPage/<%=JSON.parse(JSON.stringify(str)).id%>'">
              <%=JSON.parse(JSON.stringify(str)).session_time%>
              <%=JSON.parse(JSON.stringify(str)).name%>
            </li>
            <% }) %> <% } %>
          </ul>
        </div>
        <div class="separator"></div>

        <div class="info-list">
          <div class="list-header">
            <p><strong>Workout list</strong></p>
          </div>
          <ul class="list">
            <% if (locals.workout_list) { %>
                        <% workout_list.forEach(function(str){ %>
                        <li>
                            <strong id="workout_name<%=JSON.parse(JSON.stringify(str)).id%>">
                                <%=JSON.parse(JSON.stringify(str)).name%>
                            </strong>
                            <button onclick="location.href = '/createworkout/<%=JSON.parse(JSON.stringify(str)).id%>'">Edit</button>

                            <button onclick="openSessionForm('<%=JSON.parse(JSON.stringify(str)).id%>', '<%=JSON.parse(JSON.stringify(str)).name%>')">Plan session</button>
                            <div id = "planSessionPopup" class = "planSessionPopup"></div>
                        </li>
                        <% }) %>
                    <% } %>
          </ul>
        </div>
      </section>
      <%- include('../partials/footer.ejs') %>
    </div>
    <script>
      function openSessionForm(id, name) {
        var template = `
        <div style="display:block" class = "sessionFormPopup" id = "sessionFormPopup${id}" >
          <form action="/createsession" id="sessionForm${id}" action method="POST">

            <h3>Create sessions for workout: ${name}</h3>
            <input type="hidden" name="workout_id" value=${id}>

            <label for="days">Days</label><br>

            <input type="checkbox" id="mon${id}" name="days">
            <label for="days">Monday</label>

            <input type="checkbox" id="tue${id}" name="days">
            <label for="days">Tuesday</label>

            <input type="checkbox" id="wed${id}" name="days">
            <label for="days">Wednesday</label>

            <input type="checkbox" id="thu${id}" name="days">
            <label for="days">Thursday</label>

            <input type="checkbox" id="fri${id}" name="days">
            <label for="days">Friday</label>

            <input type="checkbox" id="sat${id}" name="days">
            <label for="days">Saturday</label>

            <input type="checkbox" id="sun${id}" name="days">
            <label for="days">Sunday</label><br>

            <input type="date" id = "deadline${id}" name = "deadline">
            <label for="deadline">Deadline</label><br>

            <button onclick="getDates(${id})" type = "submit" >Create session</button>
            <button type="button" onclick="closeSessionForm(${id})">Close</button>
          </form>
        </div>`

        var planSessionPopup = document.getElementById('planSessionPopup');
        planSessionPopup.innerHTML = template;
        document.getElementById(`deadline${id}`).value = new Date().toISOString().slice(0, 10);
        document.getElementById(`workout_name${id}`).style = "color:green"
      }

      function closeSessionForm(id) {
        document.getElementById("sessionFormPopup"+id).remove()
        document.getElementById(`workout_name${id}`).style = "color:none"
      }

      function getDates(id){

        var checked = document.querySelectorAll('input[name="days"]:checked');
        var choosenDays = [];
    
        for(var i = 0; i < checked.length; i++){
          if(checked[i].id.substr(0,3) === "mon") choosenDays.push(1);
          if(checked[i].id.substr(0,3) === "tue") choosenDays.push(2);
          if(checked[i].id.substr(0,3) === "wed") choosenDays.push(3);
          if(checked[i].id.substr(0,3) === "thu") choosenDays.push(4);
          if(checked[i].id.substr(0,3) === "fri") choosenDays.push(5);
          if(checked[i].id.substr(0,3) === "sat") choosenDays.push(6);
          if(checked[i].id.substr(0,3) === "sun") choosenDays.push(0);
        }

        var result = []
        var deadline = new Date(document.getElementById('deadline'+id).value)
        var deadline = new Date(deadline.getTime() + 86400000);
        deadline.toLocaleDateString();
        
        choosenDays.forEach(day => {
          var current = new Date();
          current.setDate(current.getDate() + (day - current.getDay() + 7) % 7);
          while (current < deadline) {
          result.push(new Date(+current).toISOString().slice(0, 10));
          current.setDate(current.getDate() + 7);
        }
      });

      sessionForm = document.getElementById(`sessionForm${id}`);

      for(var i = 0; i < result.length; i++){
        var dateInput = document.createElement('INPUT');
        dateInput.setAttribute('type', 'hidden');
        dateInput.setAttribute('name', 'date');
        dateInput.value = result[i];
        sessionForm.appendChild(dateInput)
      }
    }
      </script>
  </body>
</html>
