<html>
  <head>
    <meta charset="utf-8" />
    <base href="/">
    <link rel="stylesheet" href="base-styles.css">
    <link rel="stylesheet" href="clientHome.css">
    <link rel="stylesheet" href="nav-styles.css">
    <link rel="stylesheet" href="footer-style.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	
    <script src="calender.js" type="text/javascript"></script>
  </head>
  <body onload="render_calender('calender-box', 0)">
      <div class="wrapper">
      <%- include('../partials/nav.ejs') %>
      <div class="content">

        <!---Vetefan vad jag gör-->
        <div style="display:none" class="left" id="workout_session_popup">
          <div class="sub_content">
            <div class="list-header">
          <h2 id="sessions_page_title">Todays sessions</h2> 

          <ul id = "session_button_list" class="list"></ul>
          <!--<form id = 'workout_session_popup_form' method="post" action=""></form>-->
          <button id = "todays_sessions_div_close_btn">Close</button>  
        </div> 
        
        </div>
      </div>

          <div id="left" class="left">
            <div id="calender-box" class="sub_content no_scroll"></div>
            <div id="workout-box" class="workout-container" style="display: none;" onclick="this.style.display = 'none'"></div>
          </div>

          <div id="middle">
            <div class="sub_content">
              <div class="list-header">
                <h2>Friends</h2>
              </div>
              <div class="social-box">
                <ul class="list">
                  <% if (locals.friends) { %>
                  <% friends.forEach(function(str){ %>
                  <li onclick="location.href = '/friendpage/<%=JSON.parse(JSON.stringify(str)).id%>'">
                    <%=JSON.parse(JSON.stringify(str)).firstname%>
                    <%=JSON.parse(JSON.stringify(str)).lastname%>
                    <%=JSON.parse(JSON.stringify(str)).email%>
                  </li>
                  <% }) %>
                  <% } %>
                </ul>
              </div>
            </div>
          </div>
          <div id="right">
            <div class="sub_content">
              <div class="list-header">
                <p><strong>Workout list</strong></p>
              </div>
              <ul class="list">
                <% if (locals.workout_list) { %>
                  <% workout_list.forEach(function(str){ %>
                  <li>
                      <strong id="workout_name<%=JSON.parse(JSON.stringify(str)).id%>">
                      <%=JSON.parse(JSON.stringify(str)).name%>
                      </strong>
                      <button id ="workout_edit_buttton<%=JSON.parse(JSON.stringify(str)).id%>" onclick="location.href = '/createworkout/<%=JSON.parse(JSON.stringify(str)).id%>'">Edit</button>
                      <button id ="workout_session_planner_buttton<%=JSON.parse(JSON.stringify(str)).id%>" onclick="openSessionForm('<%=JSON.parse(JSON.stringify(str)).id%>', '<%=JSON.parse(JSON.stringify(str)).name%>')">Plan session</button>
                      <div id = "planSessionPopup" class = "planSessionPopup"></div>
                  </li>
                <% }) %>
                <% } %>
              </ul>
            </div>
          </div>
        </div>

        </div>
 
        </div>
      </section>
      <%- include('../partials/footer.ejs') %>
    </div>
    <script>
      function openSessionForm(id, name) {
        var template = `
        <div style="display:block" class = "sessionFormPopup" id = "sessionFormPopup${id}" >
          <form action="/createsession" id="sessionForm${id}" action method="POST">

            <h3>Create sessions for workout: ${name}</h3>
            <input type="hidden" name="workout_id" value=${id}>

            <label for="days">Days</label><br>

            <input type="checkbox" id="mon${id}" name="days">
            <label for="days">Monday</label>

            <input type="checkbox" id="tue${id}" name="days">
            <label for="days">Tuesday</label>

            <input type="checkbox" id="wed${id}" name="days">
            <label for="days">Wednesday</label>

            <input type="checkbox" id="thu${id}" name="days">
            <label for="days">Thursday</label>

            <input type="checkbox" id="fri${id}" name="days">
            <label for="days">Friday</label>

            <input type="checkbox" id="sat${id}" name="days">
            <label for="days">Saturday</label>

            <input type="checkbox" id="sun${id}" name="days">
            <label for="days">Sunday</label><br>

            <input type="date" id = "deadline${id}" name = "deadline">
            <label for="deadline">Deadline</label><br>

            <button onclick="getDates(${id})" type = "submit" >Create session</button>
            <button type="button" onclick="closeSessionPlanner(${id})">Close</button>
          </form>
        </div>`

        var planSessionPopup = document.getElementById('planSessionPopup');
        planSessionPopup.innerHTML = template;
        document.getElementById(`deadline${id}`).value = new Date().toISOString().slice(0, 10);
        document.getElementById(`workout_name${id}`).style = "color:green"
      }

      function getDates(id){
        var checked = document.querySelectorAll('input[name="days"]:checked');
        var choosenDays = [];
    
        for(var i = 0; i < checked.length; i++){
          if(checked[i].id.substr(0,3) === "mon") choosenDays.push(1);
          if(checked[i].id.substr(0,3) === "tue") choosenDays.push(2);
          if(checked[i].id.substr(0,3) === "wed") choosenDays.push(3);
          if(checked[i].id.substr(0,3) === "thu") choosenDays.push(4);
          if(checked[i].id.substr(0,3) === "fri") choosenDays.push(5);
          if(checked[i].id.substr(0,3) === "sat") choosenDays.push(6);
          if(checked[i].id.substr(0,3) === "sun") choosenDays.push(0);
        }

        var result = []
        var deadline = new Date(document.getElementById('deadline'+id).value)
        var deadline = new Date(deadline.getTime() + 86400000);
        deadline.toLocaleDateString();
        
        choosenDays.forEach(day => {
          var current = new Date();
          current.setDate(current.getDate() + (day - current.getDay() + 7) % 7);
          while (current < deadline) {
          result.push(new Date(+current).toISOString().slice(0, 10));
          current.setDate(current.getDate() + 7);
        }
      });

      sessionForm = document.getElementById(`sessionForm${id}`);

      for(var i = 0; i < result.length; i++){
        var dateInput = document.createElement('INPUT');
        dateInput.setAttribute('type', 'hidden');
        dateInput.setAttribute('name', 'date');
        dateInput.value = result[i];
        sessionForm.appendChild(dateInput)
      }
    }
      </script>
  </body>
</html>
