<html>
  <%- include('../partials/head.ejs'); %>
  <link rel="stylesheet" href="client-friends-styles.css" />
  <body>
    <div class="wrapper">
      <%- include('../partials/nav.ejs'); %>
      <div class="social-box">
        <p class="friend-list">Friend list</p>
        <ul class="list">
          <% if (locals.friends) { %> <% friends.forEach(function(str){ %>
          <li class="friend-list">
            <%=JSON.parse(JSON.stringify(str)).firstname%>
            <%=JSON.parse(JSON.stringify(str)).lastname%>
            <%=JSON.parse(JSON.stringify(str)).role%>
          </li>
          <% }) %> <% } %>
        </ul>
      </div>
      <%-include('../partials/footer.ejs'); %>
    </div>
  </body>
</html>
