<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <form action="signup" method="POST">
      <div class="login-form">
        <h2>Register</h2>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <input type="text" placeholder="Enter email"<%if(locals.email){%>value=<%=email%><%}%> name="email" required>
        <input type="password" placeholder="Enter password" name="password" required>
        
        <input type="submit" value = "Sign up"></button>  
          <% if (locals.message) { %>
          <%=message%>
          <% } %>
      
      </div>

    </form>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>